html, body {
    font-family:"Roboto", sans-serif;
    height: 100%;
    width: 100%;
}

#header .col {
    margin-bottom: -45vh;
}

#header h1 {
    font-size: 48pt;
}

#header img.rounded-circle {
    height: 25vh;
}

#socials img {
    height: 3rem;
    width: 3rem;
    padding: 0 .5rem;
}

#controls {
    position: fixed;
    top: 0;
    right: 0;
}

#controls .feather-menu,  #header .feather-chevron-down{
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}